---
layout: default
title: Welcome !
---
{% assign offsetPosts = paginator.page | minus:1 | times:paginator.per_page %}
{% for post in site.posts offset:offsetPosts limit:paginator.per_page %}

<div class="blog-post">
  <div class="post">
    <div class="blog-title">
      <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
    </div>
    <div class="meta">
      <ul>
        <li class="category">{{ post.type }}</li>
        <li class="author">by <span class="font-weight-bold">{{ post.author }}</span></li>
        <li class="date">{{ post.date | date: '%B %d, %Y' }}</li>
      </ul>
    </div>
    <div class="content">
      <p>{{ post.description }}</p>
    </div>
    <div class="line"></div>
    <div class="share">
      <div class="post-bottom">
        <div class="continue">
          <a href="{{ post.url | prepend: site.baseurl }}" title="Read the article {{ post.title }}">Read the article <span><i class="fa fa-long-arrow-right"></i></span></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% if paginator.page != paginator.total_pages %}
<nav>
  <ul class="pagination">
    <li class="page-item">
      <a href="#" aria-label="Précédent">
        <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
      </a>
    </li>
    <li class="active page-item"><a href="#">1</a></li>
    <li class="page-item"><a href="#">2</a></li>
    <li class="page-item"><a href="#">3</a></li>
    <li class="page-item"><a href="#">4</a></li>
    <li class="page-item"><a href="#">5</a></li>
    <li class="page-item">
      <a href="#" aria-label="Suivant">
        <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
      </a>
    </li>
  </ul>
</nav>
{% endif %}
