---
layout: default
title: My works
data:
  head:
    title: "iScor's Blog"
  projects:
    -
      title: Mobile debug
      subtitle: Console and javascript error handler
      img:
        url: https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Javascript-736400_960_720.png/64px-Javascript-736400_960_720.png
        alt: Javascript
      github: https://github.com/iGitScor/mobile-debug
    -
      title: Webpack content replacer plugin
      subtitle: Plugin that replace content in file in a webpack workflow
      img:
        url: https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Javascript-736400_960_720.png/64px-Javascript-736400_960_720.png
        alt: Javascript
      github: https://github.com/iGitScor/webpack-content-replacer-plugin
    -
      title: Critical webpack plugin
      subtitle: Webpack wrapper for critical css extraction
      img:
        url: https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Javascript-736400_960_720.png/64px-Javascript-736400_960_720.png
        alt: Javascript
      github: https://github.com/iGitScor/critical-webpack-plugin
    -
      title: Webpack mock
      subtitle: A mock for unit testing a webpack plugin
      img:
        url: https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Javascript-736400_960_720.png/64px-Javascript-736400_960_720.png
        alt: Javascript
      github: https://github.com/iGitScor/webpack-mock
    -
      title: CRM Quiz generator
      subtitle: Dynamic quiz generation
      img:
        url: https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Visual_Studio_Code_0.10.1_icon.png/64px-Visual_Studio_Code_0.10.1_icon.png
        alt: Typescript
      website: /crm-quiz-generator
      github: https://github.com/iGitScor/crm-quiz-generator
    -
      title: JS13k 2016
      subtitle: JS13k contest - edition 2016
      img:
        url: http://iscor.me/css/img/css3-icon.png
        alt: CSS
      website: /js13k-2016
      github: https://github.com/iGitScor/js13k-2016
    -
      title: JS13k 2015
      subtitle: JS13k contest - edition 2015
      img:
        url: https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Javascript-736400_960_720.png/64px-Javascript-736400_960_720.png
        alt: Javascript
      website: /js13k-2015
      github: https://github.com/iGitScor/js13k-2015
    -
      title: CSS Guidelines
      subtitle: CSS and preprocessor styleguide
      img:
        url: http://iscor.me/css/img/css3-icon.png
        alt: CSS
      website: /css
      github: https://github.com/iGitScor/css
---
<div>
  <h2>Open source projects</h2>
  <ul class="list-unstyled row">
    {% for project in page.data.projects %}
    <li class="col-sm-6">
      <div class="card card-padded">
        <div class="card-block primary">
          <p class="h3 card-title">{{ project.title }}</p>
          <p class="card-subtitle">{{ project.subtitle }}</p>
        </div>
        <div class="card-block hidden-md-down text-md-center">
          <img src="{{ project.img.url }}" alt="{{ project.img.alt }}" width="64" height="60">
        </div>
        <div class="card-block">
          <p class="card-text">
            {% if project.website %}
            <span><i class="fa fa-link"></i> Website: <a href="{{ project.website }}" class="btn-link" target="_blank">project url</a></span><br />
            {% endif %}
            <span><i class="fa fa-github"></i> Github: <a href="{{ project.github }}" class="btn-link" target="_blank">project repository</a></span>
          </p>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
  <div class="clearfix"></div>
</div>

<div class="line text-primary"></div>
