---
# Only the main Sass file needs front matter (the dashes are enough)
---

/*
Set values to variables
*/
$enable-flex: false;

/*
link: #000000;
link:hover #7C7C7C;
*/

// Load main style
@import "main";

/* ==========================================================
Table of Index
=============================================================

1. GLOBAL CSS
2. HEADER CSS
3. CONTENT CSS
4. SINGLE PAGE CSS
5. SIDEBAR CSS
6. FOOTER CSS
*/

/* ================================
1. GLOBAL
================================ */

body {
  font-size: 12px;
  font-weight: normal;
}

h1, h2, h4, a, span {
  font-family: 'Roboto', sans-serif;
}

ul , li {
  margin: 0;
  padding: 0;
}

span {
  color: $brand-secondary;
  letter-spacing: 2px;
}

a, button {
  color: $brand-primary;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

a:hover, a:focus {
  color: darken($brand-primary, 20%);
  text-decoration: none;
}

p {
  font-family: 'Droid Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  color: #7c7c7c;
  margin-bottom: 20px;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

input, textarea {
  border: 1px solid $gray-dark;
}

.line {
  height: 1px;
  width: 100%;
  margin: 10px 0;
  background: currentColor;
  color: #e5e5e5;
}

.btn-dark {
  font-size: 16px;
  background: $gray-dark;
  display: inline-block;
  padding: 12px 20px;
  color: $gray-lighter;
  letter-spacing: 4px;
  border: 1px solid $gray-dark;
  text-transform: uppercase;
  &:hover {
    border: 1px solid $gray-dark;
    background: transparent;
    color: $gray-dark;
  }
}

.btn-light {
  font-size: 16px;
  display: inline-block;
  padding: 12px 20px;
  color: $gray-dark;
  letter-spacing: 4px;
  border: 1px solid $gray-dark;
  text-transform: uppercase;
  &:hover {
    border: 1px solid $gray-dark;
    background: $gray-dark;
    color: $gray-lighter;
  }
}

.btn-light-sm {
  font-size: 12px;
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  color: $gray-dark;
  letter-spacing: 1px;
  border: 1px solid $gray-dark;
  &:hover {
    border: 1px solid $gray-dark;
    background: $gray-dark;
    color: $gray-lighter;
  }
}

.bg-light {
  background-color: $gray-lightest;
}

/* ================================
2. HEADER
================================ */

.header {
  min-height: 80px;
}
.navbar-brand {
  margin-top: 15px;
  font-size: 22px;
  letter-spacing: 4px;
}
.navbar-nav {
  margin-top: 15px;
}
.navbar-brand {
  padding-left: 0;
}
.nav li {
  padding-left: 18px;
  padding-right: 18px;
}
.nav li:last-child {
  padding-right: 0px;
}
.nav li a {
  padding: 31px 0px;
  letter-spacing: 2px;
}
.navbar {
  margin-bottom: 0;
}
.nav li a:focus,
.nav li a:hover {
  background: none;
}
.navbar-fixed-top {
  background: #ffffff;
  box-shadow: 0px -3px 10px #000;
}
.nav a i {
  margin-left: 5px;
}

.nav .open a,
.nav .open a:focus,
.nav .open a:hover {
  background-color: transparent;
  border:none;
}

.navbar-toggle .icon-bar {
  background-color: #000;
}
.navbar-toggle {
  margin-top: 23px;
}

/* ================================
4. CONTENT
================================ */

#content {
  margin-top: 90px;
}
.thum-item {
  margin-bottom: 60px;
  overflow: hidden;
}
.thum-item img {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.thum-item:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);

}
.blog-post {
  margin-bottom: 50px;
}
.blog-post .meta {
  overflow: hidden;
}
.blog-post .meta ul li, .blog-post .meta ul li a {
  font-size: 12px;
  color: #7c7c7c;
  letter-spacing: 2px;
  line-height: 30px;
}
.blog-post .meta ul {
  list-style: none;
  margin-left: 5px;
}
.blog-post .meta ul li {
  float: left;
}
.blog-post .meta ul li+li:before {
  content: "/";
  padding: 0 10px;
}
.blog-post .meta span {
  margin-left: 10px;
  margin-right: 10px;
}
.blog-post .content {
  margin: 20px 0;
}
.blog-post .post-bottom {
  overflow: hidden;
}
.blog-post .continue {
  float: left;
  letter-spacing: 2px;
  margin-top: 20px;
  font-size: 14px;
}
.blog-post .share-icon {
  float: right;
  margin-top: 20px;
}
.blog-post .share-icon .share {
  margin-right: 20px;
}
.blog-post .share-icon .icon a {
  padding: 0 7px;
  font-size: 14px;
}
.primary nav {
  margin:0 auto;
  display: table;
  margin-bottom: 100px;
}
.primary cite {
  display: inline-block;
  margin-bottom: 20px;
}
.primary ul {
  margin-bottom: 20px;
  color: $gray-light;
}
.primary ul:not(.row) {
  margin-left: 30px;
}
.primary .pagination {
  font-size: 18px;
}
.primary .pagination li a {
  color: #000000;
  margin: 2px;
}
.primary .pagination li.active a {
  background: #f5f5f5;
}
.pagination li:first-child a,
.pagination li:last-child a {
  font-size: 20px;
  border: none;
}
.pagination li:first-child a span,
.pagination li:last-child a span {
  color: #000000;
}
.pagination li:first-child a,
.pagination li:first-child span {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.pagination li:last-child a,
.pagination li:last-child span {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
/* ================================
4. SINGLE PAGE
================================ */
.bg-title {
  background: rgba(255, 255, 255, 0.8);
  min-height: 150px;
}
.page-title {
  margin-top: 3px;
  background: #DAD9DB;
}
.bg-page-title {
  height: 155px;
}
.page-title .title {
  float: left;
  margin-top: 62px;
}
.page-title .title h1 {
  font-size: 20px;
  color: #000;
  letter-spacing: 4px;
  font-weight: bold;
}
.page-title .breadcrumb {
  float: right;
  margin-top: 60px;
  background-color: transparent;
}
.page-title .breadcrumb ul {
  list-style: none;
}
.page-title .breadcrumb ul li {
  float: left;
}
.page-title .breadcrumb ul li.active span,
.page-title .breadcrumb ul li.active a {
  color: darken(#BDBDBD, 20%);
}
.page-title .breadcrumb ul li a {
  text-decoration: underline;
}
.page-title .breadcrumb ul li,
.page-title .breadcrumb ul li a {
  font-size: 13px;
  color: #000;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.page-title .breadcrumb ul li+li:before {
  content: "/";
  padding: 0 10px;
}
.post-blockquote {
  overflow: hidden;
  background: #f5f5f5;
  padding: 40px 50px 40px 60px;
  margin: 30px 0;
}
.post-blockquote p {
  position: relative;
  font-size: 16px;
}
.post-blockquote p:before {
  position: absolute;
  content: "\f10d";
  font-family: FontAwesome;
  font-size: 24px;
  top: -2px;
  left: -40px;
}
.post-blockquote p:after {
  position: absolute;
  content: "\f10e";
  font-family: FontAwesome;
  font-size: 24px;
  bottom: -7px;
  right: -10px;
}
.post-blockquote .blockquote-author {
  font-size: 18px;
  font-weight: bold;
}
.right-align {
  float: right;
  margin: 5px 0px 20px 20px;
}
.left-align {
  float: left;
  margin: 5px 20px 20px 0;
}
.image-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.blog-post .tag span {
  margin-right: 15px;
}
.blog-post .tag {
  float: left;
  letter-spacing: 2px;
  margin-top: 20px;
}
.blog-post .tag a {
  margin-right: 10px;
  letter-spacing: 1px;
}

.related-post {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
.related-post .title {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 4px;
  color: #000;
  display: block;
  margin-bottom: 40px;
}
.related-post .item {
  text-align: left;
  margin-bottom: 50px;
}
.related-post .item h4 {
  margin-top: 25px;
  color: #000;
}

.comment .title,
.leave-a-reply .title {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 4px;
  color: #000;
  display: block;
  margin-bottom: 60px;
}

/* ================================
5. SIDEBAR
================================ */

.widget-box {
  margin-bottom: 10px;

  .widget-title span {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 4px;
    color: #000000;
  }
  .widget-item {
    margin: 20px 0;
    img {
      margin: 10px 0;
    }
    .thum-img img {
      max-width: 100px;
      height: auto;
    }
    .sidebar-text {
      margin-top: 30px;
    }
    .social a {
      font-size: 20px;
      color: #7c7c7c;
      padding: 10px;
      &:hover {
        color: #000000;
      }
    }
    .tagcloud a {
      overflow: hidden;
      margin-bottom: 8px;
    }
    .category-list {
      list-style: none;
      .cat-item {
        border-bottom: 1px dashed #e5e5e5;
        line-height: 40px;
        &:last-child {
          border-bottom: 1px dashed transparent;
        }
        a {
          letter-spacing: 4px;
          span {
            margin-left: 10px;
          }
        }
      }
    }
  }
  .sidebar-post {
    list-style: none;
    .item {
      overflow: hidden;
      border-bottom: 1px dashed #e5e5e5;
      padding-bottom: 10px;
      margin-bottom: 10px;
      &:last-child {
        border: none;
      }
    }
    .thum-img {
      float: left;
    }
    .post-meta {
      h4 {
        margin-left: 120px;
      }
      p {
        margin-left: 120px;
        font-size: 11px;
        line-height: 22px;
        margin-bottom: 0;
      }
    }
  }
}

/* ================================
6. FOOTER
================================ */

.footer {
  color: #ffffff;
  background: #000000;
  margin-top: 60px;
  padding-top: 40px;

  a {
    color: #ffffff;

    &:hover {
      color: #BDBDBD;
    }
  }

  .footer-nav {
    margin: 0 0 15px 0;
    overflow: hidden;

    a {
      padding: 18px;
      line-height: 12px;
      border-right: 1px solid #ffffff;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border-right: 1px solid transparent;
      }
    }
  }

  .copyright {
    padding: 20px 0 50px;

    span {
      font-family: 'Droid Sans', sans-serif;
      font-size: 12px;
      color: #ffffff;

      a {
        padding: 1px;
      }
    }
  }
}
