{{ content }}

<div class="text-center">
  <a
    class="btn btn-info"
    href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}"
    rel="nofollow"
    target="_blank"
    title="Share on Twitter">
    <i class="fa fa-twitter"></i> Share on Twitter
  </a>
  <a
    class="btn btn-info"
    href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}"
    rel="nofollow"
    target="_blank"
    title="Share on Facebook">
    <i class="fa fa-facebook"></i> Share on Facebook
  </a>
</div>

<div class="line text-primary"></div>
