<head>
  <meta charset="utf-8" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="dns-prefetch" href="//fonts.googleapis.com" />

  <title>iScor - {{ page.title }}</title>
  {% if page.description %}
  <meta name="description" content="{{ page.description}}" />
  {% else %}
  <meta name="description" content="The blog of a travel of code with JavaScript airlines. From Montpellier to San Francisco, with a lot of promises and web development." />
  {% endif %}
  <meta name="author" content="Sebastien Correaud"/>

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@iTweetScor" />
  <meta name="twitter:creator" content="@iTweetScor" />
  <meta name="twitter:title" content="Sebastien Correaud | Blog" />
  <meta name="twitter:description" content="The blog of a travel of code with JavaScript airlines by iScor. From Montpellier to San Francisco, with a lot of promises and web development." />
  <meta name="twitter:image:src" content="http://sebastien-correaud.herokuapp.com/img/apple/apple-touch-icon.png" />
  <meta name="twitter:image:width" content="57" />
  <meta name="twitter:image:height" content="57" />
  <meta name="twitter:url" content="http://sebastien-correaud.herokuapp.com/" />

  <meta property="og:title" content="Sebastien Correaud | Blog" />
  <meta property="og:site_name" content="iScor Blog" />
  <meta property="og:url" content="http://iscor.me" />
  <meta property="og:description" content="The blog of a travel of code with JavaScript airlines by iScor. From Montpellier to San Francisco, with a lot of promises and web development." />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="http://sebastien-correaud.herokuapp.com/img/apple/apple-touch-icon.png" />

  <meta name="robots" content="index, follow" />

  <!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <link href="/style/index.css" rel="stylesheet" type="text/css" />
  {% if page.css and page.css != 'index.css' %}
  <link href="/style/{{ page.css }}" rel="stylesheet" type="text/css" />
  {% endif %}
  <link href="http://fonts.googleapis.com/css?family=Droid+Sans|Roboto:400,100,700" rel="stylesheet" type="text/css" />
</head>
