<ul class="nav navbar-nav right sm" data-smartmenus-id="14496051336555264">
  <li class="nav-item active">
    <a
      href="index.html">
      Accueil
    </a>
  </li>
  <li class="nav-item">
    <a
      href="#"
      class="has-submenu"
      id="sm-14496051336555264-5"
      aria-haspopup="true"
      aria-controls="sm-14496051336555264-6"
      aria-expanded="false">
      Page <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu" id="sm-14496051336555264-6" role="group" aria-hidden="true" aria-labelledby="sm-14496051336555264-5" aria-expanded="false">
      <li><a href="categories.html">Catégories</a></li>
      <li><a href="tags.html">Tags</a></li>
      <li><a href="slides.html">Talks</a></li>
    </ul>
  </li>
  <li class="nav-item"><a href="about.html">A propos de moi</a></li>
</ul>
